@page
@model CreatePokemonModel

@{
    ViewData["Title"] = "Créez votre pokemon !";
}

<style>
    div.horizontal {
      display: flex;
      flex-direction: row;
    }

    div.vertical {
      display: flex;
      flex-direction: column;
    }

    div.vertical#left {
      max-width: 550px;
    }

    .img-container img {
      max-width: 100%;
      height: auto;
    }

    div.vertical#right {
      display: flex;
      max-width: 550px;
      height: auto;
    }

    div.horizontal#desc {
      display: flex;
      gap: 100px;
    }

    div.horizontal#stats {
      display: flex;
      width: 550px;
      justify-content: space-between;
      margin: 20px;
    }
    
    div.horizontal#types {
      justify-content: space-evenly;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    .info-container {
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-center {
        text-align: center;
    }

    .img-container {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .stat label {
        font-weight: bold;
    }

    .stat p {
        margin: 0;
    }
</style>

<div class="text-center info-container" style="justify-content: center">
    <div class="horizontal" id="desc" style="justify-content: center">
        <div class="vertical" id="right" style="justify-content: center">
            <form method="post" asp-page-handler="Create">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name" placeholder="Write a name..."><br>
                <label for="description">Description</label><br>
                <input type="text" id="description" name="description" placeholder="Write a description..."><br><br>
                <div id="types" class="horizontal">
                    <span>
                        <label for="typeOne">Type 1 :</label>
                        <select id="typeOne" name="typeOne">
                            <!option value="Normal">Normal</!option>
                            <!option value="Eau">Eau</!option>
                            <!option value="Feu">Feu</!option>
                            <!option value="Plante">Plante</!option>
                            <!option value="Fée">Fée</!option>
                            <!option value="Acier">Acier</!option>
                            <!option value="Ténèbres">Ténèbres</!option>
                            <!option value="Spectre">Spectre</!option>
                            <!option value="Dragon">Dragon</!option>
                            <!option value="Insecte">Insecte</!option>
                            <!option value="Glace">Glace</!option>
                            <!option value="Roche">Roche</!option>
                            <!option value="Sol">Sol</!option>
                            <!option value="Poison">Poison</!option>
                            <!option value="Vol">Vol</!option>
                            <!option value="Psy">Psy</!option>
                            <!option value="Electrique">Electrique</!option>
                            <!option value="Combat">Combat</!option>
                        </select>
                    </span>
                    <span>
                        <label for="typeTwo">Type 2 :</label>
                        <select id="typeTwo" name="typeTwo">
                            <!option value="">Aucun</!option>
                            <!option value="Normal">Normal</!option>
                            <!option value="Eau">Eau</!option>
                            <!option value="Feu">Feu</!option>
                            <!option value="Plante">Plante</!option>
                            <!option value="Fée">Fée</!option>
                            <!option value="Acier">Acier</!option>
                            <!option value="Ténèbres">Ténèbres</!option>
                            <!option value="Spectre">Spectre</!option>
                            <!option value="Dragon">Dragon</!option>
                            <!option value="Insecte">Insecte</!option>
                            <!option value="Glace">Glace</!option>
                            <!option value="Roche">Roche</!option>
                            <!option value="Sol">Sol</!option>
                            <!option value="Poison">Poison</!option>
                            <!option value="Vol">Vol</!option>
                            <!option value="Psy">Psy</!option>
                            <!option value="Electrique">Electrique</!option>
                            <!option value="Combat">Combat</!option>
                        </select>
                    </span>
                </div>
                <div class="horizontal" id="stats">
                    <div class="vertical" id="first">
                        <div><label for="hp">PV</label>
                            <input type="number" id="hp" name="hp" value="0">
                        </div>
                        <div><label for="speed">Vitesse</label>
                            <input type="number" id="speed" name="speed" value="0">
                        </div>
                    </div>
                    <div class="vertical" id="second">
                        <div><label for="attack">Attaque</label>
                            <input type="number" id="attack" name="attack" value="0">
                        </div>
                        <div><label for="speAtt">Attaque spé.</label>
                            <input type="number" id="speAtt" name="speAtt" value="0">
                        </div>
                    </div>
                    <div class="vertical" id="third">
                        <div><label for="defense">Défense</label>
                            <input type="number" id="defense" name="defense" value="0">
                        </div>
                        <div><label for="speDef">Défense spé.</label>
                            <input type="number" id="speDef" name="speDef" value="0">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Créer le pokémon</button>
            </form>
        </div>
    </div>
</div>