@page "{hash?}"
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Bienvenue sur votre Pokedex</h1>
    <p>Service permettant consulter la liste de Pokémons existant</p>
    <button type="submit">Ajouter un Pokémon !</button>
    <br/>
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>Nom</th>
            <th>Type</th>
            <th></th>
        </tr>
    </table>
</div>


<!--
<form method="post">
    <input type="text" name="url"/>
    <button type="submit">Add a new Pokemon !</button>
</form>
//faire appel à la db dans mes onpost etc
        {
            <tr>
            </tr>
        }
-->