@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@{
    ViewData["Title"] = "Connectez-vous";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Vous pourrez ainsi consulter vos favoris.</p>
</div>

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-md-12 mb-4">
                <label for="username">Nom d'utilisateur :</label>
                <input id="username" type="text" class="form-control" name="username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <label for="password">Mot de passe :</label>
                <input id="password" type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" asp-page-handler="Login" class="btn btn-primary">Se connecter</button>
                <button type="submit" asp-page-handler="SignUp" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </form>
</div>
